body {
	font-family: "Verdana";
}

h2 {
	padding-top: 50px;
}

.toolbar {
	border: 2px solid orange;
	padding: 10px;
	margin: 10px 0px;
	margin-bottom: 50px;

}
div.activity {
	font-family: "Verdana";
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 50px;
	background-color: #B0FFFE;
	padding: 5px;
	border: 1px solid blue;
}

div.pagenavig {
	text-align: right;
	font-size: 0.8em;
	color: blue;
	padding-right: 40px;
}

.activity .top {
	border: 2px solid #BAD6FD;
	margin: 0px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

div.page {
	display: none;
	border: 1px solid orange;
	margin: 20px 0px;
	padding: 20px;
	background-color: #FFFEA8;
}

div#gapfill {
	line-height: 2.5em;
}
div#openq {
	line-height: 2.5em;
}

div.page h2 {
	margin: 0px;
	padding: 5px 0px;
	padding-bottom: 20px;
	font-size: 1.2em;
	
}
.instructions{
	margin-top: 10px;
	margin-bottom: 10px;
}

div.Feedback {
	background-color: #ffffff;
	left: 1px;
	top: 33%;
	z-index: 1;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	text-align: center;
	color: #000033;
	position: absolute;
	display: none;
	font-size: small;
}

div#targets .page {
	height: 270px;
}

div#mobiles .page {
	height: 60px;
}



div.target {
	width: 150px;
	border: 3px solid transparent;
	padding: 10px;
	margin: 5px;
	float: left;
}

div.mobile {
	width: 150px;
	text-align: center;
	border: 1px solid blue;
	margin: 5px;
	padding: 10px;
	float: left;
}

div.clearer {
	clear: both; 
}

/* within target */
div.target_area {
	height: 150px;
	text-align: center;
}

div.drop_area {
	height: 50px;
	text-align: center;
}

