:focus { -moz-outline-style: none; }

/* to merge within the code so that the widged can be embedded within any page, even the ones where we have no access to the head part 
of the html page */

.gridimg { 
	margin: 0px; 
	padding: 0px; 
	border-style: none; 
}
.gridtxt { 
	color: green;
	font-size: 16px;
	border: 1px solid #C3C3C3;
	padding: 3px;
}

#picked_y {
	color: green;
}
#picked_n {
	color: red;
}

.picked {
	visibility: hidden;
	font-size: 18pt;
	padding: 10px;
}

